{% extends 'partials/_master.twig' %}

{% block main %}
    <div class="w3-container w3-padding-16">
        <h1>{{ record|title }}</h1>
        <p>{{ record.teaser }}</p>
        <p>{{ record.body }}</p>
    </div>
{% endblock main %}