{% extends 'partials/_master.twig' %}

{% block body %}

    {% if record|default %}

        <h1>{{ record|title }}</h1>
        
        <div id="flexy">
            <div>BOX 1</div>
            <div>BOX 2</div>
            <div>BOX 3</div>
            <div>BOX 4</div>
            <div>BOX 5</div>
            <div>BOX 6</div>
            <div>BOX 7</div>
            <div>BOX 8</div>
            <div>BOX 9</div>
            <div>BOX 10</div>
            <div>BOX 11</div>
            <div>BOX 12</div>
        </div>

        {# Output the `introduction` field. If it doesn't exist, 'default' to
           the full excerpt of the current Record #}
        {{ record.introduction|default(record|excerpt) }}

        {% include 'partials/_image.twig' with ({'image': record|image}) %}

        {{ record.content }}

        {{ include('partials/_recordfooter.twig', { 'record': record }) }}

    {% endif %}

{% endblock body %}
