{% extends 'partials/_master.twig' %}

{% block main %}
    <div class="w3-container w3-padding-16">
        {% setcontent pagess = 'products' %}
        {{ dump(pagess) }}
    </div>
{% endblock main %}