{% extends 'partials/_master.twig' %}

{% block main %}
    <p>{% trans %}form.what{% endtrans %}</p> {# formulario sign up #}
    <p>Controller: <strong>{{ controller_name }}</strong></p>
{% endblock main %}