{% extends 'partials/_master.twig' %}

{% block main %}
    <div class="w3-container w3-padding-16">
        <p>formulario sign in</p>
        <p>Controller: <strong>{{ controller_name }}</strong></p>
    </div>
{% endblock main %}