{% extends 'partials/_master.twig' %}

{% block main %}
    {% for message in app.flashes('success') %}
        <div class="w3-panel w3-pale-green w3-display-container w3-padding-16">
            <span onclick="this.parentElement.style.display = 'none'"
                  class="w3-button w3-large w3-display-topright">&times;</span>
            {% trans %}flash.registered{% endtrans %}
        </div>
        <div class="w3-panel w3-pale-red w3-display-container w3-padding-16">
            <span onclick="this.parentElement.style.display = 'none'"
                  class="w3-button w3-large w3-display-topright">&times;</span>
            {% trans %}flash.registered{% endtrans %}
        </div>
    {% endfor %}
    {{ form(form) }}
{% endblock main %}