/* 
    Created on : Nov 6, 2021, 12:58:59 AM
    Author     : ricardo
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;1,300;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 16px 0;
}

p {
    margin: 16px 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

header {
    background-color: #ccc;
    padding: 12px;
    display: flex;
}

nav.main-nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}

nav.main-nav ul li {
    padding: 10px 12px;
}

nav.main-nav ul li a {
    padding: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

nav.main-nav a.logo {
    font-size: 1.8em;
    font-weight: bold;
}

p.teaser {
    font-style: italic;
    color: #ccc;
}

div.record-body {
    font-size: 1.2em;
    font-weight: 300;
}

aside {
    background-color: #eee;
    padding: 12px;
}

main {
}

footer {
    background-color: #ccc;
    padding: 12px;
}

/* estudo flexbox */

#flexy {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px;
}

#flexy > * {
    min-width: 200px;
    flex-basis: auto;
    background-color: #ccc;
}

/* ESTILOS DA PAGINA LISTA DOS PRODUTOS */

#product-list-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
}

#product-list-container > div {
    max-width: 300px;
/*    padding: 8px;
    box-shadow: 3px 3px 8px #ccc;*/
}

/*#product-list-container span.currency {
    font-size: 1.2em;
    font-weight: bold;
    color: #ccc;
}*/

/* paginador */
#pager-container ul.pagination {
    display: flex;
    list-style-type: none;
}

#pager-container ul.pagination > li {
    margin: 0 8px;
    padding: 16px;
    background-color: #ccc;
}

#pager-container ul.pagination > li.active {
    color: white;
    background-color: black;
}

#pager-container ul.pagination a {
    padding: 16px;
    text-decoration: none;
}